@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Empréstimo Online</h1>
    <p>Seja bem vindo a o site de empréstimo de livro, faça o seu empréstimo agora!</p>
    <div>
        <img src="/img/livro.png"/>
    </div>

</div>
